{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<link rel="stylesheet" href="../static/css/home.css" />
<div class="container">
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        {% if true %}

        <div class="col">
          <div class="card cam-card">
            <img
              src="{{ url_for('views.video_feed')}}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                Localização: BR040 - KM 192<br />Concessão: CONCER Ltda.<br /><b
                  style="color: #53c398"
                  >Online</b
                >
              </p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col">
          <div class="card">
            <div class="card-header">Adicionar estrada</div>
            <div class="card-body">
              <h5 class="card-title">Bem-vindo, {{user.name}} !</h5>
              <p class="card-text">Para começar, adicione uma estrada.</p>
              <a href="#" class="btn btn-primary">Adicionar</a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".cam-card").on("click", function () {
      window.location = "/cam_profile/1";
    });
  });
</script>
{% endblock %}
