{% extends "base.html" %} {% block content%}
<div class="container">
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <img src="{{ url_for('views.video_feed')}}" />
        <div class="card-body">
          <h5 class="card-title">
            Trecho #001 | <b style="color: #53c398">Ao vivo</b>
          </h5>
          <hr />
          <p class="card-text">
            <small style="color: darkgray; font-weight: bold"
              >Localização: BR040 - KM 192 | Concessão: CONCER Ltda.</small
            >
          </p>
          <table class="table table-striped" style="font-size: smaller">
            <thead>
              <tr>
                <th scope="col">Info</th>
                <th scope="col">Atual</th>
                <th scope="col">Média</th>
                <th scope="col">Menor</th>
                <th scope="col">Maior</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">FPS</th>
                <td>4</td>
                <td>6</td>
                <td>2</td>
                <td>9.1</td>
              </tr>
              <tr>
                <th scope="row">Contador #01</th>
                <td>1</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
              </tr>
              <tr>
                <th scope="row">Velocidade</th>
                <td>1</td>
                <td>2</td>
                <td>3.4</td>
                <td>5</td>
              </tr>
              <tr>
                <th scope="row">Densidade/faixa</th>
                <td>1</td>
                <td>2</td>
                <td>3.4</td>
                <td>5</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Criar contador</a>
          <a href="#" class="card-link">Exportar dados(CSV)</a>
          <a href="#" class="card-link">Mais câmeras</a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br />
</div>
{% endblock %}
